#create {
  width: 30%;
  margin: auto;
  padding: 3% 2%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 30px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
input,
select {
  width: 100%;
  margin-bottom: 20px;
  font-size: 30px;
  padding: 5px 2%;
}
label{
    font-size: 1.3rem;
    margin-bottom: 10px;
    /* text-decoration: underline; */
}
