* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(254, 254, 254);
}

#navbar{
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 70px;
  display: flex;
  padding: 0px 5%;
  align-items: center;
  justify-content: space-between;
}
#navbar>div{
  display: flex;
  width: 500px;
  justify-content: space-between;
}
