#navbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid skyblue;
    padding: 2%;


}
#options{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
#dcontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    justify-content: center;
    padding: 3%;


}
img{
    width: 40%;

}